{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

   {% if form.errors %}
   <div class="alert alert-danger">
        <div class="font-weight-bold">Wrong! Please correct the error(s) below.</div>
        {{ form.errors }}
   </div>
   {% endif %}
   <div>
   <form action="." method="post" class="card pt-3"> {% csrf_token %}
        <div class="form-group row">
            <div class="col-form-label col-sm-2 ml-3 font-weight-bold">Type</div>
            <div class="col-sm-5">
                {{ form.type | add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-form-label col-sm-2 ml-3 font-weight-bold">Timer</div>
            <div class="col-sm-5">
                {{ form.timer | add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <div class="offset-sm-2 col-sm-5">
                <input type="submit" value="등록" class="btn btn-info"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>

    </form>
   </div>
{% endblock %}