{% extends 'base.html' %}
{% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Menu Settings</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>idx</th>
                        <th>Menu id</th>
                        <th>Menu name</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for set in settings %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ set.menu_id }}</td>
                        <td>{{ set.menu_name }}</td>
                        <td>
                            <label class="form-check form-switch">
                              <input class="form-check-input {{ set.menu_id }} {{ set.menu_yn }}" type="checkbox" {% if set.menu_yn == 'y' %} checked {% endif %}>
                            </label>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/static/js/menu_settings.js"></script>

{% endblock %}