{% extends 'base.html' %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between">
    <h1 class="h3 mb-0 text-gray-800">Temperature</h1>
    <div class="dropdown no-arrow mb-4">
            <button class="btn btn-info dropdown-toggle" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Sensors Location
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">PKNU</a>
                <a class="dropdown-item" href="#">JungRok</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
    </div>


</div>
<div class="card shadow mb-4">
    <div class="card-body" style="height:80px; padding-left:2rem;">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <!--<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>-->
            <form method="get" action="/scheduler/dust/list/">
                <div class="row g-2 align-items-center mb-3">
                    <div class="col col-lg-5">
                      <div class="input-group">
                        <input type="date" id="date_from" class="form-control"  placeholder="from"  name="dateFrom" value="{{ dateFrom }}" autocomplete="off">
                      </div>
                    </div>
                    <div class="col-auto">~</div>
                    <div class="col col-lg-5">
                      <div class="input-group">
                        <input type="date" id="date_to"  class="form-control"  placeholder="to" name="dateTo" value="{{ dateTo }}" autocomplete="off">
                      </div>
                    </div>
                    <div class="col input-group-append">
                        <button class="btn btn-dark date-search-btn" href="#">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">공기질 데이터 리스트</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>idx</th>
                        <th>습도</th>
                        <th>온도</th>
                        <th>미세먼지</th>
                        <th>측정시간</th>
                    </tr>
                </thead>
                <tbody>
                    {% for airq in airq_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ airq.humidity }}</td>
                        <td>{{ airq.temperature }}</td>
                        <td>{{ airq.dustDensity }}</td>
                        <td>{{ airq.timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function(){
        /* $(".date-search-btn").on("click", function(){
            doSearch(
                  $('#date_from').val().replace(/\-/g,''),
                  $('#date_to').val().replace(/\-/g,'')
                );
        }); */

        function doSearch(dateFrom, dateTo){
            var obj = new Object();
            obj.dateFrom = dateFrom;
            obj.dateTo = dateTo;
            console.log(obj);
            $.when(
               $.ajax({
                url: "/scheduler/dust/list/",
                method:'GET',
                datatype:'JSON',
                data: obj,
               })
            ).then(function(_data){

            })
        }


    });

</script>
{% endblock %}
